.dart_tool/
.packages
.pub-cache/
build/
*.iml
.idea/
.vscode/
windows/flutter/ephemeral/
windows/runner/Debug/
windows/runner/Release/
windows/runner/x64/
local.properties

.flutter-sdk/
.flutter_releases.json

.flutter-plugins-dependencies
TrafficLimit-source.zip
